<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SP_Automation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SP_Automation.Properties.Settings>
            <setting name="Environment" serializeAs="String">
                <value>QA_B</value>
            </setting>
            <setting name="Browser" serializeAs="String">
                <value>NodeWebkit</value>
            </setting>
            <setting name="WaitTime" serializeAs="String">
                <value>30</value>
            </setting>
        </SP_Automation.Properties.Settings>
    </userSettings>
</configuration>